.cropper-container {
  margin-bottom: 1rem;
}

.cropper-controls {
  display: flex;
}

.cropper-controls input, .cropper-controls button {
  width: 100px;
}

#center {
  margin-left:  10px;
  margin-right: 10px;
}
