<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Original image:</strong>
    <%= image_tag product.image_original %>
  </p>

  <p>
    <strong>Croped image:</strong>
    <%= image_tag product.image %>
  </p>

</div>
