<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <% if product.logo.present? %>
      <strong>logo:</strong>
      <%= image_tag product.logo %>
    <% end %>
  </p>

  <p>
    <% if product.image.present? %>
      <strong>image:</strong>
      <%= image_tag product.image %>
    <% end %>
  </p>

</div>
